.heading{
    background-color:purple;
    color: white;
    margin-top: 0;
    padding: 1%;
    font-weight: bolder;
}
.nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #2e2e2e;
}
 
#settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}
#search {
    width: 357px;
    margin: 4px;
}
#search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1f7f5c;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgb(64, 151, 119);
}
#search_button {
    border: 0 none;
    background: #1f7f5c url(search.png) center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}
#options a{
    border-left: 0 none;
}

.ajax-section{

    padding-top: 15%;
    padding-left: 11%;
}

.a {
   background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}
.buttonStyle{
 border-color: lightslategray;
    padding-left: 2%;
    padding-right: 2%;
    position:absolute;
    height: 4.25%;
    background-color: white;
}
input{
    width: 30%;
    padding: 0.5%;
color: #2e2e2e;
margin-left: -.25%;
}
.formstyle{
    margin-top: 2%;
    justify-content: center;
    margin-left: 20%;
}
select{
    padding: 0.5% !important;
}
    
.cities{

    display: flex;
}



.daysStyle{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    width: 50%;
    height: 80%;
}
.cardSthyle{
    flex-direction: row;
    margin-left: 0.5%;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
    box-sizing: border-box;
    max-width: 30%;
    max-height: 10%;
    border: none;
    border-radius: 5%;
    background-color: whitesmoke;
    color: slategrey;
    font-weight: bold;
    cursor: pointer;
}
.cardSthyle:hover{
border: 1px solid black;
}
.weatherStyle{
    height: 50%;
}
.CityName{
    flex-direction: column;
    position: absolute;
    font-size: 25px;
    font-weight: 800;
    list-style: none;
    margin-top: -14%;
    margin-left: 7%;


}
.dayStyle{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size:15px;
    list-style: none;
    margin-top: 0.5%;
  
}
.weathercondition{
    display: flex;
    flex-direction: column;
 
    font-size:12px;
}
.humidityP{
    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    font-size: 15px;
    margin-top: -3%;
    margin-left: -10%;
    margin-bottom: .5%;
}
.humidityH{

    display: flex;
    flex-direction: column;
    position: absolute;
    list-style: none;
    font-size: 15px;
    margin-top: -2%;
    margin-left: -10%;
    margin-bottom: .5%;
    
    }
    .humidityW{
        display: flex;
        flex-direction: column;
        position: absolute;
        list-style: none;
        margin-top: -1%;
        font-size: 15px;
        margin-left: -10%;
        margin-bottom: .5%;
        }
ul{
    list-style: none;
    
}
.Temperature{
    font-size: 50px;
    font-weight: bold;
    font-size: 50px;
    margin-top: -63%;
    margin-left: -431%;

}
.Temperatures{
    display:none;
    font-size: 50px;
    font-weight: bold;
    font-size: 50px;
    margin-top: -42%;
    margin-left: -431%;

}
.ButtonSt{
    position: absolute;
    list-style: none;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -29%;
    margin-top: -3%;
}
.ButtonSt:hover{
    border-bottom: 1px solid black;
}
.ButtonStd{
    position: absolute;
    list-style: none;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: -27%;
    margin-top: -3%;
}
.ButtonStd:hover{
    border-bottom: 1px solid black;
}
