body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.heading {
  font-family: arial;
  background-color: purple;
  color: white;
  margin-top: 0;
  padding: 1%;
  font-weight: bolder;
  text-align: center;
  font-size: 22px;
}

.container {
  max-width: 100%;
  /* margin-left: 150px; */
}

.nav li a {
  font-size: 16px;
  color: white;
  display: block;
  line-height: 60px;
  padding: 0 26px;
  text-decoration: none;
  border-left: 1px solid #2e2e2e;
  font-family: Montserrat, sans-serif;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
  background-color: #2e2e2e;
}

#settings a {
  padding: 18px;
  height: 24px;
  font-size: 10px;
  line-height: 24px;
}
#search {
  width: 357px;
  margin: 4px;
}
#search_text {
  width: 297px;
  padding: 16px 0 15px 20px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  height: 52px;
  margin-right: 0;
  color: white;
  outline: none;
  background: #1f7f5c;
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}
#search_text:focus {
  background: rgb(64, 151, 119);
}
#search_button {
  border: 0 none;
  background: #1f7f5c url(search.png) center no-repeat;
  width: 60px;
  float: left;
  padding: 0;
  text-align: center;
  height: 52px;
  cursor: pointer;
}
#options a {
  border-left: 0 none;
}

.a {
  background-image: url(triangle.png);
  background-position: 85% center;
  background-repeat: no-repeat;
  padding-right: 42px;
}
.subnav {
  visibility: hidden;
  top: 110%;
  right: 0;
  width: 200px;
  height: auto;
  opacity: 0;
  transition: all 0.1s;
  background: #232323;
}
.subnav li {
  float: none;
}
.subnav li a {
  border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
  visibility: visible;
  top: 100%;
  opacity: 1;
}
.buttonStyle {
  padding: 5px 9px;
  border: none;
  background: #f8f8f8;
  width: 80px;
  color: #fff;
  vertical-align: bottom;
  cursor: pointer;
  margin-left: 8px;
}
.imageStyle {
  max-width: 20px;
}
input {
  width: 35%;
  padding: 8px 15px;
  color: #2e2e2e;
  box-sizing: border-box;
  box-shadow: 2px 4px 0px #00000040;
  outline: none;
}
.formstyle {
  padding: 40px 0;
  background: #b1c9d2;
  margin-bottom: 30px;
  text-align: center;
}
select {
  padding: 8px;
  width: 150px;
}

.cities {
  text-align: center;
  margin-top: 50px;
}

.daysStyle {
  display: flex;
  flex-direction: row;
}
.cardSthyle {
  flex-direction: row;
  box-sizing: border-box;
  border: none;
  background-color: whitesmoke;
  color: slategrey;
  font-weight: bold;
  cursor: pointer;
  padding: 38px;
  min-height: 250px;
  margin: 0 8px;
  vertical-align: middle;
  min-width: 180px;
  border-radius: 23px;
  box-shadow: 3px 3px 3px #3333331a;
}
.cardSthyle:hover {
  border: 1px solid black;
}
.weatherStyle {
  height: 100px;
}
.CityName {
  font-size: 25px;
  font-weight: 800;
  list-style: none;
  position: absolute;
  top: 200px;
  left: 25%;
  font-family: arial;
}

.containerChild {
  display: flex;
  flex-direction: row;
  padding-left: 37px;
  padding-top: 60px;
  height: 56vh;
}
.weathercondition {
  font-size: 12px;
}
.humidityP {
  margin-bottom: 10px;
}
.humidityH {
  margin-bottom: 10px;
}
.humidityW {
  margin-bottom: 10px;
}
ul {
  list-style: none;
}
.Temperature {
  font-weight: bold;
  font-size: 50px;
  margin-top: 16px;
  color: #68b6bf;
  margin-bottom: 20px;
}

.Temperatures {
  font-weight: bold;
  font-size: 50px;
  margin-top: 16px;
  color: #68b6bf;
  margin-bottom: 20px;
  display: none;
}

.ButtonSt {
  list-style: none;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 36px;
  left: 54%;
}
.ButtonSt:hover {
  border-bottom: 1px solid black;
}
.ButtonStd {
  list-style: none;
  font-size: 15px;
  background: none;
  border: none;
  cursor: pointer;
  top: 36px;
  position: absolute;
  left: 56%;
}
.ButtonStd:hover {
  border-bottom: 1px solid black;
}
li {
  list-style: none;
}
.ajax-section {
  width: 100%;
  height: 100%;

  /* padding-left: 20px; */
}

.datastyle {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: arial;
  text-align: center;
}
.Style {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Style{
  display: flex;
  height: 100px;
  position: absolute;
  top: 53px;
  right: 204px;
}